<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup><system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SWFProcessing.SwiffotronService.SWFProcessorBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="SWFProcessing.SwiffotronService.SWFProcessorBehavior"
                name="SWFProcessing.SwiffotronService.SWFProcessor">
                <endpoint address="" binding="wsHttpBinding" contract="SWFProcessing.SwiffotronService.ISWFProcessor">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/SWFProcessing.SwiffotronService/SWFProcessor/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
